<p-dataView #dv [value]="values" layout="grid">
    <ng-template pTemplate="grid" let-comics>
        <div class="grid grid-nogutter">
            <div class="col-12 sm:col-3 md:col-3 xl:col-3 p-2" *ngFor="let product of comics">
                <app-card-comic 
                    [title]="product.title" 
                    [description]="((product.description != null || product.description != undefined) && product.description.length > 0) 
                        ? product.description: 'NOT FOUND DESCRIPTION'"
                    [urlImage]="generateUrlImage(product)"
                >
                </app-card-comic>
                <!-- <p>{{product.id}}</p> -->
            </div>
        </div>
    </ng-template>
</p-dataView>
