<div class="flex justify-content-center align-items-center h-screen">
    <div class="flex align-items-center flex-column w-6 gap-3">
        
        <form [formGroup]="formLogin" class="flex align-items-center flex-column gap-4">
            <p-floatLabel>
                <input 
                    pInputText 
                    id="email"  
                    formControlName="email"
                />
                <label for="email">{{ "label.email" | translate }}</label>
            </p-floatLabel>
            <p-floatLabel>
                <input 
                    pInputText 
                    id="password"
                    formControlName="password"  
                />
                <label for="password">{{ "label.password" | translate }}</label>
            </p-floatLabel>
        </form>
        <button 
            pButton 
            label="{{'button.login' | translate}}"
            (click)="onLogin()"
        >
        </button>
    </div>
</div>