/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import "primeflex/primeflex.css";

body {
    font-size: 14px;
}

.p-inputtext, 
.p-button, 
.p-dropdown, 
.p-textarea, 
.p-selectbutton, 
.p-calendar, 
.p-checkbox, 
.p-radiobutton, 
.p-picklist, 
.p-multiselect, 
.p-listbox, 
.p-chip {
    font-size: 14px !important;  
    padding: 6px 12px !important;
}

.p-button {
    font-size: 14px !important;
    padding: 6px 12px !important;
}

.p-inputtext {
    font-size: 14px !important;
    padding: 6px !important;
}

.p-dropdown {
    font-size: 14px !important;
    padding: 6px 12px !important;
}
