<div class="flex justify-content-center align-items-center h-screen">
    <div class="background-image-register">
        <div class="overlay"></div>
    </div>
    <div class="flex flex-column align-items-center p-5 w-4 border-round shadow-2 bg-white">
        <h2 class="text-2xl font-medium text-gray-900">{{ 'label.register_title' | translate }}</h2>
        <div class="flex align-items-center flex-column w-8 gap-3">
            
            <form [formGroup]="formRegister" class="flex align-items-center flex-column gap-4">
    
                <div class="flex flex-column w-22rem">
                    <label for="name">{{ "label.name" | translate }}</label>
                    <input 
                        pInputText 
                        id="name"  
                        formControlName="name"
                        placeholder="{{ 'placeholder.name' | translate }}"
                    />
                    <small class="p-error" *ngIf="formRegister.get('name')?.invalid && formRegister.get('name')?.touched">
                        {{ getErrorMessage('name') }}
                    </small>
                </div>
            
                <div class="flex flex-column w-22rem">
                    <label for="numberId">{{ "label.number-id" | translate }}</label>
                    <input 
                        pInputText 
                        id="numberId"
                        formControlName="numberId"  
                        placeholder="{{ 'placeholder.id' | translate }}"
                    />
                    <small class="p-error" *ngIf="formRegister.get('numberId')?.invalid && formRegister.get('numberId')?.touched">
                        {{ getErrorMessage('numberId') }}
                    </small>
                </div>
            
                <div class="flex flex-column w-22rem">
                    <label for="email">{{ "label.email" | translate }}</label>
                    <input 
                        pInputText 
                        id="email"  
                        formControlName="email"
                        placeholder="{{ 'placeholder.email' | translate }}"
                    />
                    <small class="p-error" *ngIf="formRegister.get('email')?.invalid && formRegister.get('email')?.touched">
                        {{ getErrorMessage('email') }}
                    </small>
                </div>
            
                <button 
                    [disabled]="!formRegister.valid"
                    pButton 
                    label="{{'button.register' | translate}}"
                    (click)="onRegister()"
                    [raised]="true"
                    [rounded]="true"
                >
                </button>

                <button 
                    pButton 
                    label="{{'button.return' | translate}}"
                    (click)="goToLogin()"
                    [rounded]="true"
                    severity="contrast"
                >
                </button>
            </form>
        </div>
    </div>
</div>